<h1>Resultados da procura "<%= params[:q] %>"</h1>

<% if params[:q].blank? %>
		Non proporcionaches un criterio de procura.
<% else %>
	<small>Atoparonse <%= @pastes.size %> paste</small>
	<% if !@pastes.blank? %>
	  <% for paste in @pastes %>
	  	<%= render :partial => "layouts/paste_trim", :locals => { :paste => paste, :theme => @theme} %>
	  <% end %>
	<% else %>
		<div class="pastePreview">
			Non hay pastes con ese criterio
		</div><!-- fin  -->
	<% end %>
<%end %>

<% content_for :lateral do %>
  <%= render :partial => "layouts/stats_time" %>
<% end %>