<h1>Resultados de la búsqueda para la cadena "<%= params[:q] %>" - <small>Se ha encontrado <%= @pastes.size %> paste</small></h1>

<% if params[:q].blank? %>
	No has proporcionado una cadena de búsqueda
<% else %>

	<% if !@pastes.blank? %>
	  <% for paste in @pastes %>
	  	<%= render :partial => "layouts/paste_trim", :locals => { :paste => paste, :theme => @theme} %>
	  <% end %>
	<% else %>
		<div class="pastePreview">
			No hay pastes nuevos
		</div><!-- fin  -->
	<% end %>


<%end %>
