<% cache(:action_suffix => "stats-times") do %>
<h3>Recentemente <span>posteados</span></h3>
	<% if !@languages.blank? %>
	<% @tiempos= [1.day.ago,1.week.ago,1.month.ago,1.year.ago]  %>
	<table class="stats">
	  <% for tiempo in @tiempos %>
	    
	    	<tr>
				<td class="l">fai
				<%= case tiempo
				      when 1.day.ago-10.minutes .. 1.day.ago+10.minutes then "24 horas"
				      when 1.week.ago-10.minutes .. 1.week.ago+10.minutes then "1 semana"
				      when 1.month.ago-10.minutes .. 1.month.ago+10.minutes then "1 mes"
				      when 1.year.ago-10.minutes .. 1.year.ago+10.minutes then "1 ano" 
					else "defaul"    
				    end
			 	%></td>
				<td><%= Paste.find( :all, :conditions => ["created_at > ? ", tiempo.to_time ]).size %></td>
			</tr>

	  <% end %>
    </table>
	<% else %>
	  No hay estadísticas
	<% end %>
<% end %>